{# footer #}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footerleft ">
                <div class="logofooter"><img src=" {{ asset('images/logo.jpeg') }} " width="100" height="50"
                                             style="position:relative; top:0px;" alt=""></div>
                <p><i></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                </p>
                <p><i class="fa fa-map-marker fa-2x"></i>&nbsp;&nbsp;&nbsp; Avenue Stade Municipal, Bafoussam - Cameroun
                </p>
                <p><i class="fa fa-phone fa-2x"></i> &nbsp;&nbsp;&nbsp; Téléphone : +237 99 99 78 98</p>
                <p><i class="fa fa-envelope fa-2x"></i> &nbsp;&nbsp;&nbsp; E-mail : <a
                            href="mailto:info@ultranet.com" style="color:#fff;">info@ultranet.com</a></p>

            </div>
            <div class="col-md-4 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Espace candidats</h6>
                <ul class="footer-ul">
                    <li><a href="#"> Terms & Conditions</a></li>
                    <li><a href="#"> Client Gateway</a></li>
                    <li><a href="#"> Ranking</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Suivez nous sur :</h6>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{# end footer #}

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>© Ultranet&trade; 2016</p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul">
                    <li><a href="#">ultranet.com</a></li>
                    <li><a href="#">A propos de nous</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Nos mémoires</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Forum</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>