/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 sept. 2016, 00:11:00
    Author     : ivano kaptue
*/

// ivano dev custum style for card
a.btn:hover{
    text-decoration: none !important;
}
.navbar-custom {
    background-color: rgba(1, 255, 70,1);
    color:#ffffff;
    border-radius:0;
    
}
.navbar-custom .navbar{
    background-color: rgba(1, 255,70,1) !important;
    padding-right: 10px;
    padding-left: 10px;
}
/*.navbar-custom .navbar{
    background-color: rgba(0,0,0,0.3) !important;
    color: white !important;
}*/
.navbar-custom .navbar-nav > li > a {
    color: #0277bd;
    font-size: 1.3em;
}
.navbar-custom .navbar-nav > li > a:hover {
    background-color:rgba(0,0,0,0.1);
    color: white;
    transition: 0.5s;
}
.navbar-custom .navbar-nav > li > a.active {
    background-color:rgba(0,0,0,0.1);
    color: white;
}

#content-body .row.formation{
    padding: 50px;
    color:  red !important;
}
.card {
    position: relative;
    display: block;
    margin-bottom: 3em;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}


.card-block {
    padding: 1.25rem;
    /*width: 320px;*/
    /* background: rgba(1, 255, 70,1); */
    background: #e0e0e0;
    color: #424242;
}

.card-block::after {
    content: "";
    display: table;
    clear: both;
}

.card-title {
    margin-bottom: 0.75rem;
    color: #212121;
    font-weight: bold;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header::after {
    content: "";
    display: table;
    clear: both;
}

.card-header:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer::after {
    content: "";
    display: table;
    clear: both;
}

.card-footer:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

.card-primary .card-header,
.card-primary .card-footer {
    background-color: transparent;
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.card-success .card-header,
.card-success .card-footer {
    background-color: transparent;
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.card-info .card-header,
.card-info .card-footer {
    background-color: transparent;
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.card-warning .card-header,
.card-warning .card-footer {
    background-color: transparent;
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
    background-color: transparent;
}

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8;
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de;
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c;
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f;
}

.card-inverse .card-header,
.card-inverse .card-footer {
    border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff;
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: 0.25rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img-top {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    width: 100%;
    height: 180px;
}

.card-img-bottom {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

@media (min-width: 544px) {
    .card-deck {
        display: table;
        width: 100%;
        margin-bottom: 0.75rem;
        table-layout: fixed;
        border-spacing: 1.25rem 0;
    }
    .card-deck .card {
        display: table-cell;
        margin-bottom: 0;
        vertical-align: top;
    }
    .card-deck-wrapper {
        margin-right: -1.25rem;
        margin-left: -1.25rem;
    }
}

@media (min-width: 544px) {
    .card-group {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .card-group .card {
        display: table-cell;
        vertical-align: top;
    }
    .card-group .card + .card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0;
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-top,
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
        border-radius: 0;
    }
}

@media (min-width: 544px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        width: 100%;
    }
}

.why{
    padding: 10px;
    padding-bottom: 30px;
}

.why .why-desc{
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
}

.why i{
    display: block;
    text-align: center;
}

.page-header{
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 50px;
}

#newletter{


}

.ed_newsletter_section{
    float:left;
    width:100%;
    padding: 30px 0px;
    background-size: cover;
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 0, 0.6)),  url('../images/bubbles.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, left, right;
    background-color:#4fc3f7 ;
}
.ed_newsletter_section_heading {
    float:left;
    width:100%;
}
.ed_newsletter_section_heading h4{
    color:#ffffff;
    font-size:22px;
}
.ed_newsletter_section_form{
    float:left;
    width:100%;
}
.ed_newsletter_section_form .form-control{
    background: transparent;
    border: 2px solid #b3b1b8;
    margin-right: 10px;
    color: #ffffff;
    height: auto;
    padding: 9px;
}
.ed_newsletter_section_form input.form-control::-moz-placeholder {
    color:#ffffff;
    text-transform:capitalize;
}
.ed_newsletter_section_form input.form-control:-ms-input-placeholder {
    color:#ffffff;
    text-transform:capitalize;
}
.ed_newsletter_section_form input.form-control::-webkit-input-placeholder {
    color:#ffffff;
    text-transform:capitalize;
}
.ed_btn{
    padding: 10px 20px;
}

/*footer*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
.footer { 
    background-color:#0c1a1e; 
    min-height:350px; 
    font-family: 'Open Sans', sans-serif; 
    border: none !important;
}
.footerleft { 
    margin-top:50px; 
    padding:0 36px; 
}
.logofooter { 
    margin-bottom:10px;
    font-size:25px; 
    color:#fff; 
    font-weight:700;
}

.footerleft p { 
    color:#fff; 
    font-size:12px !important; 
    font-family: 'Open Sans', sans-serif; 
    margin-bottom:15px;
}
.footerleft p i { 
    width:20px; 
    color:#999;
}


.paddingtop-bottom {  
    margin-top:50px;
}
.footer-ul { 
    list-style-type:none;  
    padding-left:0px; 
    margin-left:2px;
}
.footer-ul li { 
    line-height:29px;
    font-size:12px;
}
.footer-ul li a { 
    color:#a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s; 
}
.footer-ul i { 
    margin-right:10px;
}
.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s; 
    color:#ff670f; 
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul { 
    list-style-type:none !important;
    margin:0px; padding:0px;
}
.icon-ul li { 
    line-height:75px; 
    width:100%; 
    float:left;
}
.icon {
    float:left;
    margin-right:5px;
}

.copyright {
    min-height:40px;
    background-color:#000000;
    margin-top: 0px;
}
.copyright p { 
    text-align:left; 
    color:#FFF; 
    padding:10px 0; 
    margin-bottom:0px;}
.heading7 { 
    font-size:21px; 
    font-weight:700; 
    color:#d9d6d6;
    margin-bottom:22px;
}
.post p {
    font-size:12px; 
    color:#FFF; 
    line-height:20px;
}
.post p span {
    display:block;
    color:#8f8f8f;
}
.bottom_ul {
    list-style-type:none;
    float:right; 
    margin-bottom:0px;
}
.bottom_ul li { 
    float:left;
    line-height:40px;
}
.bottom_ul li:after { 
    content:"/"; 
    color:#FFF;
    margin-right:8px;
    margin-left:8px;
}
.bottom_ul li a {
    color:#FFF;  
    font-size:12px;
}

.share{
    margin-right: 30px;
}
.share.fb:hover{
    color: red;
}
.share.tw:hover{
    color: red;
}
.share.in:hover{
    color: red;
}