{% extends 'UltranetCoreBundle::layout.html.twig' %}
{% block title %}
    Contact - {{ parent() }}
{% endblock %}
{% block body_content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <br>
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href=" {{ path("ultranet_core_homepage") }} "> <i class="fa fa-home"></i> Accueil</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <div style="width:80%;max-width:100%;overflow:hidden;height:500px;color:red;">
                    <div id="gmap-display" style="height:100%; width:100%;max-width:100%;">
                        <iframe style="height:100%;width:100%;border:0;" frameborder="0"
                                src="https://www.google.com/maps/embed/v1/place?q=Stade+Municipal,+Bafoussam,+Région+de+l'Ouest,+Cameroun&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                    </div>
                    <a class="google-html" rel="nofollow" href="http://www.szablonypremium.pl"
                       id="get-data-for-embed-map">szablony
                        premium</a>
                    <style>#gmap-display img {
                            max-width: none !important;
                            background: none !important;
                        }</style>
                </div>
                <script src="https://www.szablonypremium.pl/google-maps-authorization.js?id=823215c5-7e1b-c863-edc9-d146f41bc157&c=google-html&u=1475452083"
                        defer="defer" async="async"></script>
            </div>


            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Details du contact</h3>
                <p><i class="fa fa-map-marker fa-2x"></i>
                    Avenue Stade Municipal, Bafoussam - Cameroun
                </p>
                <p><i class="fa fa-phone fa-2x"></i>
                    <abbr title="Téléphone">P </abbr>: (+237) &nbsp; 677 77 77 77&nbsp;/&nbsp;699 99 99 99 </p>
                <p><i class="fa fa-envelope-o fa-2x"></i>
                    <abbr title="Email">E </abbr>: <a href="mailto:info@ultranet.com">info@ultranet.com</a>
                </p>
                <p><i class="fa fa-clock-o fa-2x"></i>
                    <abbr title="Heures">H</abbr>: Lundi - Samedi: de 08 h:00 à 20 h:00</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-md-8" style="margin-bottom: 40px;">
                <h3>Envoyer nous un message</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label><i class="fa fa-user"></i> Nom :</label>
                            <input type="text" class="form-control" id="name" required
                                   data-validation-required-message="vous devez entrer votre nom.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label><i class="fa fa-envelope    "></i> Email Address:</label>
                            <input type="email" class="form-control" id="email" required
                                   data-validation-required-message="Veuillez remplir ce champs."
                                   data-validation-validemail-message="adresse e-mail invalide">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label><i class="fa fa-pencil"></i> Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required
                                      data-validation-required-message="Entrez votre message" maxlength="999"
                                      style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-success"><i
                                class="fa fa-hand-o-right"></i>&nbsp Envoyer</button>
                </form>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
