{% extends "UltranetCoreBundle::layout.html.twig" %}

{% block title %}
  Forum - {{ parent() }}
{% endblock %}


{% block body_content %}
  <div class="container">
    
     <br>
    
     <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Forum</a></li>
          <li><a href="#">Blablabla</a></li>
          <li class="active">Blablabla</li>
        </ol>
      </div>
    </div>
     
    <br>
    
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <buttton class="btn btn-success" type="button"><i class="fa fa-search"></i></buttton>
          </span>
        </div>
      </div>
    </div>

    <br>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <i class="fa fa-comment"></i> Cours
            <h4 class="text">Veuillez vous exprimer ici en posant dans le forum approprié votre problème.</h4>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th style="width: 650px">Nom du forum</th>
                  <th style="width: 100px">Sujets</th>
                  <th style="width: 100px">Posts</th>
                  <th style="width: 350px">Dernier post</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-comments-o fa-3x"></i>
                      </div>
                      <div class="col-md-11">
                        <h4><a href="#">Programmation web</a></h4>
                        <p>
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                        </p>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge">0</span></td>
                  <td><span class="badge">0</span></td>
                  <td>
                    <p>Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-comments-o fa-3x"></i>
                      </div>
                      <div class="col-md-11">
                        <h4><a href="#">Programmation web</a></h4>
                        <p>
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                        </p>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge">0</span></td>
                  <td><span class="badge">0</span></td>
                  <td>
                    <p>Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-comments-o fa-3x"></i>
                      </div>
                      <div class="col-md-11">
                        <h4><a href="#">Programmation web</a></h4>
                        <p>
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                        </p>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge">0</span></td>
                  <td><span class="badge">0</span></td>
                  <td>
                    <p>Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-comments-o fa-3x"></i>
                      </div>
                      <div class="col-md-11">
                        <h4><a href="#">Programmation web</a></h4>
                        <p>
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                        </p>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge">0</span></td>
                  <td><span class="badge">0</span></td>
                  <td>
                    <p>Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="panel panel-success">
          <div class="panel-heading">
            <i class="fa fa-comment"></i> Autres
            <h4 class="text">Veuillez vous exprimer ici en posant dans le forum approprié votre problème.</h4>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th style="width: 650px">Nom du forum</th>
                  <th style="width: 100px">Sujets</th>
                  <th style="width: 100px">Posts</th>
                  <th style="width: 350px">Dernier post</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-comments-o fa-3x"></i>
                      </div>
                      <div class="col-md-11">
                        <h4><a href="#">Programmation web</a></h4>
                        <p>
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                        </p>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge">0</span></td>
                  <td><span class="badge">0</span></td>
                  <td>
                    <p>Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-comments-o fa-3x"></i>
                      </div>
                      <div class="col-md-11">
                        <h4><a href="#">Programmation web</a></h4>
                        <p>
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                        </p>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge">0</span></td>
                  <td><span class="badge">0</span></td>
                  <td>
                    <p>Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-comments-o fa-3x"></i>
                      </div>
                      <div class="col-md-11">
                        <h4><a href="#">Programmation web</a></h4>
                        <p>
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                        </p>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge">0</span></td>
                  <td><span class="badge">0</span></td>
                  <td>
                    <p>Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-comments-o fa-3x"></i>
                      </div>
                      <div class="col-md-11">
                        <h4><a href="#">Programmation web</a></h4>
                        <p>
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                          Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum 
                        </p>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge">0</span></td>
                  <td><span class="badge">0</span></td>
                  <td>
                    <p>Lorem ipsum dolor sit amen sum Lorem ipsum dolor sit amen sum </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}